<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This is the test message to commit changes to git.</p>
        <img class="portrait" src="/img/nafProfile.jpg">
    </div>
    {{>footer}}
</body>
</html>